.table th:hover {
    background-color:grey;
}
.table th {
background-color:beige;
}
.table td {
background-color:greenyellow ;
}
.table td:hover {
    background-color:blueviolet;
}
.scope td {
    background-color:gainsboro;
}
.r1 {
    border-color:yellowgreen;
    }
    .TABLE th, td {
         width: 300px;
         border: 2px solid black;
         padding:300px;
         margin: 300px;
         font-family: 'Courier New', Courier, monospace;
       }
       .TABLE tr {
        width: 300px;
        border: 2px solid black;
        padding:300px;
        margin: 300px;
        font-family: 'Courier New', Courier, monospace;
      }

      .btn-toolbar {
        background-color:rosybrown; 
        border: 1px solid black; 
        padding: 10px 20px; 
        cursor: pointer; 
        width: 100%;
        height: 90px;
      }
      .button :hover{
        background-color:orchid;
      }
      .btn-group1 {
        color:bisque;
        padding: 10px 24px; 
        cursor: pointer; 
        float:unset; 
      }
      .btn-primary {
        background-color:skyblue; 
        border: 1px solid black; 
        padding: 20px 34px; 
        cursor: pointer; 
      }
      .btn-group2 {
        color:blue;
        padding: 10px 24px; 
        cursor: pointer; 
        float:unset; 
      }
      .btn-secondary {
        background-color:whitesmoke;  
        padding: 20px 34px; 
        cursor: pointer; 
      }
      .btn-group3 {
        color:rgb(9, 255, 0);
        padding: 10px 24px; 
        cursor: pointer; 
        float:unset; 
      }
      .btn-info {
        background-color:lightcyan; 
        border: 1px solid black; 
        padding: 20px 34px; 
        cursor: pointer; 
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 30%;
        float: left;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .container {
        padding: 20px 16px;
      }